html{
    margin: 0px;
    padding: 0px;
}
body{
    width: 95%;
    font-size: 1.25em;
    margin: auto;
}
article{
    clear: both;
    margin: 10px;
    border: black solid 1px;
    height: 300px;
}

.even{
    margin: 10px;
    float: right;
}
.oneven{
    margin: 10px;
    float: left;
}